* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
    padding-bottom: 1em;
}

.container > h1 {
    color: rgb(220, 22, 94);
    font-family: 'Fredoka One', cursive;
    text-align: center;
    padding-bottom: 40px;
}

.container > p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    color: rgb(13, 12, 18);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.block {
    padding: 0 13px;
    float: left;
}

.content {
    background-color: rgb(13, 12, 18);
    color: white;
    width: 280px;
    float: left;
}

.content img{
    width: 80px;
    float: left;
    padding-right: 10px;
}

.content h2 {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.content > span {
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    display: block;
    font-size: 10px;
}

.content > span.blue {
    color: rgb(32, 194, 239);
}






