* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.block {
    padding-inline: calc(100% / 3);
}

.content {
    background-color: red;
    width: 165px;
    float: left;
}

.content img{
    width: 40px;
    float: left;
}

.content h2 {
    font-size: 12px;
    text-transform: uppercase;
}

.content > span {
    display: block;
    font-size: 10px;
}






